.r-list {
  border: 4px solid rgba(0,0,0,0.1);
  border-style: none none solid;
  display: inline-block;
  margin: 0;
}
.r-list.hover {
  border-color: rgba(0,0,0,0.2);
}
.r-node {
  margin: 0 3px;
  display: inline-block;
}
.r-container {
  padding: 5px 10px;
  margin: 10px;
}
.r-vector {
  background-color: #f1f9ff;
  display: inline-block;
  padding: 2px 5px;
  border-radius: 2px;
}
.r-number {
  padding: 6px 8px;
  border-radius: 2px;
  margin: 3px;
  cursor: pointer;
  display: inline-block;
}
.r-string:after {
  content: "\A";
  white-space: pre-wrap;
}
.r-with-newline {
  display: block;
}
.r-with-newline > .r-list {
  border-bottom: 5px solid rgba(0,0,0,0.03);
  background: #1380ff;
  color: #fff;
  border-radius: 2px;
}
.r-with-newline > .r-list > .r-vector {
  background: #fff;
  color: #000;
}
.r-without-newline {
  display: inline-block;
}
